<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | VeysOhm</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet" />

</head><!--/head-->

<body>
    <style>
        #baslik {
            border-radius: 5px;
        }

            #baslik:hover {
                background-color: darkgray;
            }
    </style>
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/Home/Index"><img src="~/eshop/images/home/logo12.jpeg" alt="" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto d-flex me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a id="baslik" class="nav-link active" aria-current="page" href="/Home/Index">Ana Sayfa</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a id="baslik" class="nav-link" href="/Cart/Index"><img src="~/Content/Image/sepet.png" width="30" height="30" /><label style="color:red">@{Html.RenderAction("TotalCount", "Cart");}</label>Sepetim</a></li>
                            <li><a id="baslik" class="nav-link" href="/Sales/Index"><i class="fa fa-dollar"></i> Satın Aldıklarım</a></li>
                            <li class="nav-item dropdown">
                                <a id="baslik" class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Session["Ad"] @Session["Soyad"]
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li><a id="baslik" class="dropdown-item" href="/User/Update">Bilgileri Güncelle</a></li>
                                    <li><a id="baslik" class="dropdown-item" href="/Account/LogOut">Çıkış Yap</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a id="baslik" class="nav-link" href="/Account/Login"><i class="fa fa-lock"></i> Giriş Yap</a></li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a id="baslik" class="nav-link" href="/Admin/Index"><i class="fa fa-lock"></i> Admin Paneli</a></li>
                        }
                    </ul>
                    @using (Html.BeginForm("Search2", "Search", FormMethod.Post, new { @class = "d-flex" }))
                    {
                        
                            <input class="form-control me-2" type="text" name="searchText" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                            @*<a href="/Search/Search" class="btn btn-outline-success">Search</a>*@
                        
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-1">
        @RenderBody()
    </div>

    <!--<footer id="footer">

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2021. Tüm Hakları Sakldır.</p>
                    <p class="pull-right">Designed by <span style="color:#f14a0b">Gökay KALKAN</span></p>
                </div>
            </div>
        </div>

    </footer>-->
    <!--/Footer-->



    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <span class="text-muted">© 2022, Veysel Duran</span>
            </div>
        </footer>
    </div>


    <script src="~/eshop/js/jquery.js"></script>
    <script src="~/eshop/js/bootstrap.min.js"></script>
    <script src="~/eshop/js/jquery.scrollUp.min.js"></script>
    <script src="~/eshop/js/price-range.js"></script>
    <script src="~/eshop/js/jquery.prettyPhoto.js"></script>
    <script src="~/eshop/js/main.js"></script>
</body>
</html>
