@model List<EntityLayer.Entities.Category>

<style>
    #kateg:hover{
        background-color:darkgray;
    }
</style>
<div class=" flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href=""></use></svg>
        <span class="fs-4">Kategoriler</span>
    </a>
    <hr>
    @foreach (var item in Model)
    {
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a id="kateg" href="/Category/Details/@item.Id" class="nav-link link-dark" aria-current="page">
                    @item.Name
                </a>
            </li>
        </ul>
    }
</div>
