@model List<EntityLayer.Entities.Product>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex">



                @Html.Action("CategoryList", "Category")

                <div class="container">
                    <h4 class="mt-4">Ürünler</h4>
                    <hr />
                    <div class="row">

                        @foreach (var item in Model)
                        {
                            <div class="col-4 mb-1">
                                <div class="card" style="width: 18rem; height:28rem;">
                                    <a href="/Product/ProductDetails/@item.Id"><img src="~/Content/Image/@item.Image" class="card-img-top" alt="..." style="height:150px; width:180px" /></a>
                                    <div class="card-body">
                                        <h6 class="card-title">@item.Name</h6>
                                        <p class="card-text">@item.Desciription</p>
                                        <h6>@item.Price</h6>
                                        <a href="/Product/ProductDetails/@item.Id" class="btn btn-primary">Ürüne Bak</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>


                </div>


            </div>
        </div>
    </div>
</section>
