@model List<EntityLayer.Entities.Product>
@{
    ViewBag.Title = "CriticalStock";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün Bilgisi</th>
        <th>Stok Sayısı</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Stock < 50)
        {
            <tr style="background-color:darkred">
                <th>@item.Name</th>
                <th>@item.Stock</th>
            </tr>
        }
        if (item.Stock == 50)
        {
            <tr style="background-color:darkkhaki">
                <th>@item.Name</th>
                <th>@item.Stock</th>
            </tr>
        }

    }
</table>

